html {
  scroll-behavior: smooth;
}

body {
  /*background-color: rgb(255, 194, 108);*/
  background-color: #6a6a6a;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  background-color: white;
}

/* #about {
  font-size: medium;
} */